@import "color";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-image: url("../images/body-bg.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0;
}
p {
  color: $text_color;
  margin: 0;
}
