.blog-area {
  padding: 100px 0;
  background-size: cover;
  background-position: 0;
  position: relative;
  z-index: 2;
}
.blog-area:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #dcdcdc;
  opacity: 0.85;
  z-index: -1;
}
.single-blog {
  background-color: #fff;
}
.single-blog img {
  width: 100%;
}
.blog-content {
  padding: 25px;
}
.blog-content h4 {
  font-size: 18px;
  font-weight: 800;
}
.blog-meta {
  margin: 10px 0 20px;
}
.blog-meta a i {
  margin-right: 8px;
}
.blog-meta span i {
  margin-right: 5px;
}
.blog-meta span {
  margin-right: 20px;
  font-size: 15px;
}
.singl-blog a {
  margin-top: 20px;
}
.blog-content a {
  margin-top: 30px;
}
