.footer-area {
  padding: 60px 0;
  background-size: cover;
  background-position: center;
}
.single-footer h4 {
  text-transform: capitalize;
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
}
.single-footer p {
  color: #fff;
  margin-bottom: 25px;
}
.footer-address span {
  display: block;
  color: #fff;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
}
.footer-address span i {
  margin-right: 6px;
}
.single-footer a {
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  display: block;
  margin-bottom: 12px;
}
.footer-pay {
  margin-top: 20px;
}
.footer-pay h4 {
  margin-bottom: 10px;
}
.footer-menu {
  margin-top: 25px;
}
.footer-menu a {
  color: #fff;
  font-weight: 500;
  display: inline-block;
  margin: 0 10px;
}
.footer-menu p {
  color: #fff;
  margin-top: 15px;
}
