.subscribe {
  text-align: center;
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 40px;
}
.subscribe h4 {
  font-size: 26px;
  font-weight: 900;
}
.subscribe p {
  font-weight: 400;
  font-size: 18px;
}
.subscribe form {
  margin-top: 25px;
  position: relative;
}
.subscribe {
}
.subscribe input {
  width: 100%;
  border: 1px solid #eee;
  padding: 10px;
}
.subscribe input[type="submit"] {
  position: absolute;
  right: 0;
  width: auto;
  padding: 10px 50px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: tomato;
}
